$border_screen_media: 500px;
$padding_main_frame:  10px;
$margin_main_frame:   10px;
$grid_gap_px:         10px;
$high_main_frame:     200px;
$side_bar_color:      #0C0C0C;
$side_bar_width:      205px;
$side_bar_width_small:50px;
$side_bar_txt_color:  green;
#main_frame_kos{
  margin: $margin_main_frame;
  margin-left: $side_bar_width;
  padding: $padding_main_frame;
  display: grid;
  grid-gap: $grid_gap_px;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
  grid-template-rows: auto;
  min-height: $high_main_frame;

  .header_kos{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
  }

  .footer_info_kos{
    align-self: end;
    grid-column: 1 / span 3;
    grid-row-end: span 6;
  }

  .main_data_kos{
    grid-column: 1 / span 3;
    grid-row: 2 / span 4;
  }
}

.footer_info_kos{
  bottom: 10px;
  overflow: hidden;
  position: fixed;
  text-align: center;
  width: 100%;
}

.side_bar_kos{
  color: $side_bar_txt_color;
  text-align: center;
  background-color: $side_bar_color;
  position: fixed;
  overflow-x: hidden;
  width: $side_bar_width;
  height: 90%;
  a.big_screen_kos {
    display: block;
    margin: 10px;
    &:visited {
      color:red;
      text-decoration: none;
    }
    &:link {
      color: red;
      text-decoration: none;
    }
    &:hover {
      color:darkgreen;
    }
  }
  a.small_screen_kos {
    display: none;
  }
}
  @media screen and (max-width: $border_screen_media){
    .side_bar_kos{
      a.big_screen_kos{
      display: none;
    }

    a.small_screen_kos {
      display: block;
      margin: 10px;
      &:visited {
        color:red;
        text-decoration: none;
      }
      &:link {
        color: red;
        text-decoration: none;
      }
      &:hover {
        color:darkgreen;
      }
    }
  }

  .side_bar_kos{
    width: $side_bar_width_small;
  }
  #main_frame_kos{
    margin-left: $side_bar_width_small;
  }
}
